<!DOCTYPE html>
<html xmlns:s="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>web-1</title>
</head>
<br>
<p>sdasdg</br>asdg</p>
<p>"все на борт"</p>
<p>Hi niger</p>
<h1>Hi niger</h1>
<h2><span>Hi niger</span></h2>
<h3>Hi niger</h3>
<table border="2">
    <tr>
        <td>narcota</td>
        <td>massa</td>
        <td>price</td>
        <td>cast</td>
    </tr>
    <tr>
        <td>Opium</td>
        <td>5 kg</td>
        <td>1000 $/kg</td>
        <td>5000 $</td>
    </tr>


</table>
<form action="https://github.com/YuraFedorov-tech">
    <p>Do you want to see my Github</p>
    <input type="submit" value="Refresh">
</form>

<form>
    <input type="radio"
           name="gender" value="male">Man</br>
    <input type="radio"
           name="gender" value="male">Woman</br>
    <input type="radio"
           name="gender" value="male">FromEuropeOrFreeMale</br>
    <input type="submit"
           name="gender" value="sended"/>

</form>

<h1><span> Contact me</span></h1>
<br>
<input name="name"
       type="text"/></br>
<input name="email"
       type="email"/></br>
<textarea name="message"></textarea></br>
<input type="submit"
value="SEND" class="submit"/>
</form>

<fieldset>
    <legend>tell me about youself</legend>
    <label>Name*<input type="text" required></label></br>
    <label>E-mail<input type="email" required></label></br>
    <input type="submit"
           value="SEND" class="submit"/>
</fieldset>


<form action="url" method="POST"></form>

<p></p>
<form action="/" method="GET">
    <input type="submit" value="Refresh">
</form>

<p>Method: ${method}</p>

<p>URL: ${URL}</p>

</body>
</html>

