<!DOCTYPE html>
<html lang="en">
<head >
    <style>*{box-sizing: border-box;}</style>
    <title>transaction</title>
</head>
<body>
<h1>Transaction</h1>


<form style="  display: inline-block; border: 4px double black;" method="post" action="/transaction">
    <table >
        <tr style="border: 1px solid black; text-align: center">
            <label for="senderName">
                <input id="senderName" name="senderName" value="senderName">
            </label>
        </tr></br>
        <tr style="border: 1px solid black; text-align: center">
            <label for="senderPass">
                <input id="senderPass" name="senderPass" value="senderPass">
            </label>
        </tr></br>
        <tr style="border: 1px solid black; text-align: center">
            <label for="count">
                <input id="count" name="count" value="count">
            </label></br>
        </tr>
        <tr style="border: 1px solid black; text-align: center">
            <label for="nameTo">
                <input id="nameTo" name="nameTo" value="nameTo">
            </label></br>
        </tr>
        <tr>
            <td>
                <input type="submit" value="submit">
            </td></br>
        </tr>
    </table>
</form>
</body>
</html>
