<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <style>*{box-sizing: border-box;}</style>
    <title>add Users</title>
</head>
<body>
<h1>Registration user in JDBC</h1>


<form style="  display: inline-block; border: 4px double black;" method="post" action="/registration">
    <table >
        <tr style="border: 1px solid black; text-align: center">
            <label for="name">
                <input id="name" name="name" value="name">
            </label>
        </tr></br>
        <tr style="border: 1px solid black; text-align: center">
            <label for="password">
                <input id="password" name="password" value="password">
            </label>
        </tr></br>
        <tr style="border: 1px solid black; text-align: center">
            <label for="money">
                <input id="money" name="money" value="money">
            </label>
        </tr>
        <tr>
            <td>
                <input type="submit" value="submit">
            </td></br>
        </tr>
    </table>
</form>
</body>
</html>
